<?xml version="1.0"?>
<robot name="wall_cabinet" xmlns:xacro="http://wiki.ros.org/xacro">

  <!-- Assembles -->
  <xacro:macro name="wc_frame">
    <xacro:box_link prefix="wc_frame" link_name="back_panel" mass="${wc_frame_back_panel_mass}"
                    xdim="${wc_frame_back_panel_xdim}" ydim="${wc_frame_back_panel_ydim}" zdim="${wc_frame_back_panel_zdim}"
                    material="White"/>

    <xacro:box_link prefix="wc_frame" link_name="left_side_panel" mass="${wc_frame_side_panel_mass}"
                    xdim="${wc_frame_side_panel_xdim}" ydim="${wc_frame_side_panel_ydim}" zdim="${wc_frame_side_panel_zdim}"
                    material="White"/>

    <joint name="wc_frame_left_side_panel_joint" type="fixed">
      <origin xyz="${(wc_frame_side_panel_xdim-wc_frame_back_panel_xdim)/2}
                   ${(wc_frame_back_panel_ydim-wc_frame_side_panel_ydim)/2} 0" rpy="0 0 0"/>
      <parent link="wc_frame_back_panel"/>
      <child link="wc_frame_left_side_panel"/>
    </joint>

    <xacro:box_link prefix="wc_frame" link_name="right_side_panel" mass="${wc_frame_side_panel_mass}"
                    xdim="${wc_frame_side_panel_xdim}" ydim="${wc_frame_side_panel_ydim}" zdim="${wc_frame_side_panel_zdim}"
                    material="White"/>

    <joint name="wc_frame_right_side_panel_joint" type="fixed">
      <origin xyz="${(wc_frame_side_panel_xdim-wc_frame_back_panel_xdim)/2}
                   ${(-wc_frame_back_panel_ydim+wc_frame_side_panel_ydim)/2} 0" rpy="0 0 0"/>
      <parent link="wc_frame_back_panel"/>
      <child link="wc_frame_right_side_panel"/>
    </joint>

    <xacro:box_link prefix="wc_frame" link_name="top_panel" mass="${wc_frame_h_panel_mass}"
                    xdim="${wc_frame_h_panel_xdim}" ydim="${wc_frame_h_panel_ydim}" zdim="${wc_frame_h_panel_zdim}"
                    material="White"/>

    <joint name="wc_frame_top_panel_joint" type="fixed">
      <origin xyz="${(wc_frame_h_panel_xdim-wc_frame_back_panel_xdim)/2} 0
                   ${(wc_frame_back_panel_zdim-wc_frame_h_panel_zdim)/2}" rpy="0 0 0"/>
      <parent link="wc_frame_back_panel"/>
      <child link="wc_frame_top_panel"/>
    </joint>

    <xacro:box_link prefix="wc_frame" link_name="bottom_panel" mass="${wc_frame_h_panel_mass}"
                    xdim="${wc_frame_h_panel_xdim}" ydim="${wc_frame_h_panel_ydim}" zdim="${wc_frame_h_panel_zdim}"
                    material="White"/>

    <joint name="wc_frame_bottom_panel_joint" type="fixed">
      <origin xyz="${(wc_frame_h_panel_xdim-wc_frame_back_panel_xdim)/2} 0
                   ${(-wc_frame_back_panel_zdim+wc_frame_h_panel_zdim)/2}" rpy="0 0 0"/>
      <parent link="wc_frame_back_panel"/>
      <child link="wc_frame_bottom_panel"/>
    </joint>
  </xacro:macro>

  <xacro:macro name="wall_cabinet" params="prefix connected_to:='' xyz:='0 0 0' rpy:='0 0 0'">

    <xacro:wc_frame/>

    <xacro:unless value="${not connected_to}">
      <joint name="${prefix}_${connected_to}_joint" type="fixed">
        <parent link="${connected_to}"/>
        <child link="wc_frame_back_panel"/>
        <origin rpy="${rpy}" xyz="${xyz}"/>
      </joint>
    </xacro:unless>

    <!-- The +x direction points from the back of the cabinet to the front -->
    <!-- Rightmost 1st column -->
    <xacro:door prefix="${prefix}" name="c1_door" parent="wc_frame_back_panel"
                xyz="${wc_frame_side_panel_xdim-wc_door_xdim/2} ${-wc_frame_back_panel_ydim/2} 0"
                mass="${door_mass}" xdim="${wc_door_xdim}" ydim="${0.6-tolerance}" zdim="${wc_door_zdim}"
                hinge="right" handle_xyz="0.008 0.48 -0.35" handle_rpy="0 0 0"/>

    <!-- Rightmost 2nd column -->
    <xacro:door prefix="${prefix}" name="c2_door" parent="wc_frame_back_panel"
                xyz="${wc_frame_side_panel_xdim-wc_door_xdim/2} ${wc_frame_back_panel_ydim/2} 0"
                mass="${door_mass}" xdim="${wc_door_xdim}" ydim="${0.4-tolerance}" zdim="${wc_door_zdim}"
                hinge="left" handle_xyz="0.008 -0.28 -0.35" handle_rpy="0 0 0"/>
  </xacro:macro>
</robot>
