<?xml version="1.0"?>
<robot name="wall_cabinet" xmlns:xacro="http://wiki.ros.org/xacro">

  <xacro:arg name="prefix" default="wall_cabinet"/>
  <xacro:property name="prefix" value="$(arg prefix)"/>

  <!-- Is the robot to be used with a simulator or control software -->
  <!-- Supported: none, gazebo, mujoco -->
  <xacro:arg name="simulator" default="none"/>
  <xacro:property name="simulator" value="$(arg simulator)"/>

  <xacro:include filename="include/materials.xacro"/>
  <xacro:include filename="include/properties.xacro"/>
  <xacro:include filename="include/components.xacro"/>

  <xacro:include filename="wall_cabinet.xacro"/>

  <xacro:if value="${simulator == 'mujoco'}">
    <!-- The meshdir to be used by MJCF need not be the same as the URDF -->
    <mujoco>
      <compiler meshdir="./meshes" balanceinertia="true" strippath="true" discardvisual="true"/>
    </mujoco>
  </xacro:if>

  <xacro:wall_cabinet prefix="${prefix}"/>

</robot>
